#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.new-address {
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid silver;
}
